@use '../../../../assets/scss/settings.scss' as vars;

form {
    background-color: #242a36d6;

    .btn__translate {
        border: 1px solid vars.$periwinkle-blue;
    }
}

:host ::ng-deep .p-button { 
    border-radius: 12px;
    border: 2px solid vars.$primary;
    background: transparent;
    color: white;

    &:hover, &:active, &:focus {
        border: 2px solid vars.$primary;
        background: vars.$primary !important;
        color: white;
    }
}
