// Colors:
$primary: #4D5562;
$secondary: #040711;
$terciary: #F9FAFB;
$iron: #D2D5DA;
$bright-grey: #394150;
$periwinkle-blue: #7CA9F3;
$sapphire: #263FA9;

// Typography:
@font-face {
    font-family: 'DM Sans'; // Nome unificado
    src: url('../fonts/DMSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}