@use '../../../../assets/scss/settings.scss' as vars;

.lang-selector {
    .p-togglebutton {
        background: transparent !important;
        border: none;
    
        &:focus-visible, &:active {
            border: none;
        }
    }
    
    .p-togglebutton-checked .p-togglebutton-content {
        background: vars.$primary;
    }
    
    .p-button {
        padding-block: 0.15rem;
        border-radius: 6px;
        border: 2px solid vars.$primary;
        background: transparent;
        color: white;
        
        button {
            margin-right: 8px;

            &:hover, &:active, &:focus {
                border: 2px solid vars.$primary;
            }
        }
    }

    .select-button button {
        border: none;
        outline: none;

        &:hover, &:active, &:focus {
            border: 2px solid vars.$primary;
        }
    }
}

.horizontal-bar {
    width: 100%;
    height: 1px;
    background-color: vars.$primary;
}