@use '../../../../assets/scss/settings.scss' as vars;

form {
    background-color: #161a26c0;
}

.panel-display {
    .p-button {
        padding-block: 0.2rem;
        border-radius: 8px;
        border: 2px solid vars.$primary;
        background: transparent;
        color: white;
        height: 100%;

        &:hover, &:active, &:focus {
            border: 2px solid vars.$primary !important;
            background: vars.$primary !important;
            height: 100%;
        }
    }
}