@use '../src/assets/scss/settings.scss' as vars;

@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;


* {
    font-family: 'DMSans Regular';
    color: vars.$terciary;
}

html, body {
    background-color: vars.$secondary;
}