@use '../src/assets/scss/settings.scss' as vars;

@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;


* {
    font-family: 'DM Sans', sans-serif;
    color: vars.$terciary;
    outline: none;
}

html, body {
    background-color: vars.$secondary;
}

.glass-effect {
    padding: 1.5rem;
    width: 100%;
    height: inherit;
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    border: 1px solid vars.$primary;

    textarea {
        height: 176px;
        width: 100%;
        background-color: transparent;
        resize: none;
    }
}

.p-button button {
    &:hover, &:active, &:focus {
        border: none;
    }
}